.main__container {
  text-align: center;
  margin: 30px;
}
header {
  font-size: 60px;
  font-family: "East Sea Dokdo", cursive;
  text-align: center;
  color: aliceblue;
}
h2 {
  margin: 10px;
  color: aliceblue;
}

article {
  margin: 10px;
  font-size: 17px;
  font-family: "East Sea Dokdo", cursive;
  color: aliceblue;
}

.trailer__container {
  display: flex;
  justify-content: center;
}
